.main_block {
  width: 100%;
  height: 1056px;
  background: url(./BG.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}
.main_block_header {
  width: 1220px;
  height: 52px;
  margin: 55px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_block_header_logoNav {
  width: 815px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_block_header_logoNav_logo {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
}
.main_block_header_logoNav_nav {
  width: 300px;
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: #ffffff;
}
.main_block_header_auth {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.main_block_header_auth_login {
  border: none;
  background: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12.4237px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: white;
}
.main_block_header_auth_sign_in {
  width: 90px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: white;
  border-radius: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 12.4237px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #BB6DF3;
}
.main_block_home {
  width: 579px;
  height: 534px;
  margin-left: 335px;
  margin-top: 200px;
  display: flex;
}
.main_block_home_HomeP {
  width: 530px;
}
.main_block_home_PersonalP {
  width: 530px;
  height: 140px;
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 70px;
  text-transform: uppercase;
  color: #3B668D;
}
.main_block_home_OnlineP {
  width: 579px;
  height: 36px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.905em;
  text-transform: uppercase;
  color: #3B668D;
  margin-top: 8px;
}
.main_block_home_line {
  width: 506px;
  height: 2px;
  background: #3B668D;
  margin-top: 30px;
}
.main_block_home_store {
  width: 500px;
  height: 41px;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 156%;
  text-transform: uppercase;
  color: #3B668D;
  margin-top: 40px;
}
.main_block_home_Upload {
  width: 496px;
  height: 112px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.075em;
  color: #2B4964;
  margin-top: 10px;
}
.main_block_home_btn {
  position: relative;
  width: 204px;
  height: 45px;
  background: linear-gradient(90deg, #5AC4FF 0%, #B250FF 100%);
  border-radius: 45px;
  margin-top: 24px;
  overflow: hidden;
  color: white;
  border: none;
}
.main_block_home_btn_smallBall {
  position: absolute;
  top: -20px;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  opacity: 60%;
  background: rgba(255, 255, 255, 0.32);
}
.main_block_home_btn_midlBall {
  position: absolute;
  left: -50.19px;
  top: -70px;
  width: 106.7px;
  height: 106px;
  border-radius: 85px;
  opacity: 60%;
  background: rgba(255, 255, 255, 0.32);
}
.main_block_home_btn_bidBall {
  position: absolute;
  left: 215.4px;
  top: 26px;
  width: 106.7px;
  height: 106px;
  border-radius: 85px;
  opacity: 60%;
  background: rgba(0, 0, 0, 0.08);
}
.main_block_home_ComputerImg {
  width: 815px;
  height: 716px;
  position: absolute;
  left: 45.33%;
  top: 260px;
}
.main_block .services {
  display: flex;
  margin-top: 200px;
  width: 1106px;
  height: 1170px;
}
.main_block .services_list {
  margin-top: 60px;
}
.main_block .services_list_item {
  display: flex;
}
.main_block .services_texts_title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: #3B668D;
}
.main_block .services_texts_discription {
  width: 438px;
  height: 126px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #2B4964;
}
.main_block .premium {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main_block .premium_become {
  width: 1552px;
  height: 84px;
  font-style: normal;
  font-weight: 300;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  letter-spacing: 0.285em;
  text-transform: uppercase;
  color: #3B668D;
}
.main_block .premium_business {
  padding-top: 40px;
  width: 624px;
  height: 94px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #79788F;
}
.main_block_3box {
  width: 100%;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}
.main_block_3box_1box {
  display: flex;
  margin-left: -150px;
}
.main_block_3box_1box_1box1 {
  width: 460px;
  height: 964px;
  border: nonex solid rgb(243, 224, 224);
  margin-right: 150px;
  margin-top: 100px;
}
.main_block_3box_1box_1box1_p1box1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  color: #3B668D;
}
.main_block_3box_1box_1box1_p2box1 {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 71px;
  text-align: center;
  color: #8572FF;
  margin-top: 37px;
}
.main_block_3box_1box_1box1_lineText {
  margin-left: 71px;
  margin-top: 117px;
}
.main_block_3box_1box_1box1_text {
  display: flex;
  margin-top: 77px;
}
.main_block_3box_1box_1box1_text_imgText {
  margin-left: 71px;
  margin-right: 50px;
}
.main_block_3box_1box_1box2 {
  width: 460px;
  height: 964px;
  border: none solid rgb(243, 224, 224);
  margin-right: 180px;
  box-shadow: 0px 4px 11px 5px rgb(136, 134, 134);
}
.main_block_3box_1box_1box2_img3 {
  width: 460px;
}
.main_block_3box_1box_1box2_p1box1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  color: #3B668D;
  margin-top: -147px;
}
.main_block_3box_1box_1box2_p2box1 {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 71px;
  text-align: center;
  color: #8572FF;
  margin-top: 37px;
}
.main_block_3box_1box_1box2_lineText {
  margin-left: 71px;
  margin-top: 117px;
}
.main_block_3box_1box_1box2_text {
  display: flex;
  margin-top: 77px;
}
.main_block_3box_1box_1box2_text_imgText {
  margin-left: 71px;
  margin-right: 50px;
}
.main_block_3box_1box_1box2_signUp1 {
  height: 79px;
  width: 308px;
  border-radius: 62px;
  background: linear-gradient(90deg, #43A1D6 0%, #907EFF 100%);
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  border: none;
  color: #FFFFFF;
  margin-top: 95px;
  margin-left: 75px;
  cursor: pointer;
}
.main_block_3box_1box_1box2_signUp1:focus {
  width: 320px;
  height: 90px;
  background: linear-gradient(90deg, #d643c7 0%, #907EFF 100%);
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  border: 1px rgb(46, 13, 13);
  color: #141212;
  margin-top: 95px;
  margin-left: 75px;
  cursor: pointer;
  transform: translate3d(0, 0, -1em);
}
.main_block_3box_1box_1box3 {
  width: 460px;
  height: 964px;
  border: none solid rgb(243, 224, 224);
  margin-right: 180px;
  margin-top: 100px;
}
.main_block_3box_1box_1box3_p1box1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  color: #3B668D;
  margin-top: -207px;
}
.main_block_3box_1box_1box3_p2box1 {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 71px;
  text-align: center;
  color: #8572FF;
  margin-top: 37px;
}
.main_block_3box_1box_1box3_lineText {
  margin-left: 71px;
  margin-top: 117px;
}
.main_block_3box_1box_1box3_text {
  display: flex;
  margin-top: 77px;
}
.main_block_3box_1box_1box3_text_imgText {
  margin-left: 71px;
  margin-right: 50px;
}

/*# sourceMappingURL=style.css.map */
